<footer class="footer">
	<div class="footer__top">
    	{{ if .Site.Menus.main }}
        <ul class="footerMenu__list">
        	{{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li class="footerMenu__item">
                <a class="footerMenu__link" href="{{ .URL }}" title="{{ .Name }} page">
                  {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
        <address class="footerMenu__details">
        	<p>Administration & Showroom</p>
        	<p>Zumikerstrasse 3</p>
        	<p>CH - 8700 Küsnacht</p>
        	<p>+41 (0)44 913 7070</p>
        	<p>office@iodaa.ch</p>
        </address>
	</div>
    <section class="footer__sub">
    	<ul class="footer__subLinks">
    		<li class="footer__subList"><a href="{{ .Site.BaseURL }}press/" class="footer__subLink">Press</a></li>
    		<li class="footer__subList"><a href="" class="footer__subLink">Sitemap</a></li>
    		<li class="footer__subList"><a href="" class="footer__subLink">Copyright</a></li>
    		<li class="footer__subList">
                <a href="{{ .Site.BaseURL }}" class="footer__subLink">
			        <img src="/images/iodaa_logo.svg" alt="iodaa logo" class="footer__logo">
                </a>
            </li>
    	</ul>
    </section>
</footer>
<div class="footer_decoration"></div>

