/* Colors */
$iodaa-red: #e62739;
$lightest-gray: #f4f5f0;
$light-gray: #b7b7b7;
$medium-gray: #707070;
$dark-gray: #414141;
$black: #000000;

/* Sizes */
$body-padding: 1.5rem;
$body-padding-md: 2.5rem;
$body-padding-lg: 4rem;



