{{ define "main" }}
<section class="about__cover">
	<h2 class="aboutCover__slogan">Slogan or something similar.</h2>
</section>
<p class="about__firstText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus libero eget dolor convallis, a aliquam lacus molestie. Mauris et vestibulum orci. Ut mattis, nisl at efficitur sollicitudin, nunc nibh faucibus justo, ut cursus justo orci sed tellus. Pellentesque sed sapien tincidunt, hendrerit enim quis, auctor augue.</p>
<div class="about__firstImage">
	<h2 class="second__slogan">Another slogan.</h2>
</div>
<div class="clearfix">
<p class="about__secondText">Sed id odio tempor, dignissim odio ut, placerat nisi. Quisque egestas porta ipsum id imperdiet. Donec accumsan odio eget placerat semper. Integer cursus mi nulla, vitae feugiat ante volutpat at. Nam bibendum sagittis suscipit. Nunc nec hendrerit odio. </p>
</div>
{{ end }}